---
layout: layout.njk
title: Liz Daly
pageType: cv
description: Frontend web developer with a background in marketing for the arts and culture sector. I am interested in usability and accessibility and have strong experience in helping shape user requirements.
---

<div>
  <section class="border-top--secondary">
    <h2>Tech skills</h2>
    <dl class="arrow-list">
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">JavaScript</span>
        </dt>
        <dd class="inline">
          ES6, TypeScript, Angular, React, Jest, Jasmine, React Testing Library
        </dd>
      </div>
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">CSS</span>
        </dt>
        <dd class="inline">SCSS (Sass), CSS3, Bootstrap, Responsive designs</dd>
      </div>
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">HTML</span>
        </dt>
        <dd class="inline">Semantic mark-up, accessibility following WAI-Aria Standards</dd>
      </div>
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">C#</span>
        </dt>
        <dd class="inline">.NET, LINQ</dd>
      </div>
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">Ruby</span>
        </dt>
        <dd class="inline">Ruby on Rails, Sinatra, RSpec, Capybara</dd>
      </div>
    </dl>

    <p>Git, Azure, Xcode, Swagger, PostgreSQL, Travis CI, CircleCI,
        Agile, pair programming, test driven development, peer reviews, XP Values</p>
  </section>

  <section class="border-top--secondary">
    <h2>Other skills</h2>

    <dl class="arrow-list">
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">Collaborator</span>
        </dt>
        <dd class="inline">
          I am at my happiest working on projects that require cross-team collaboration, be it with business analysts, product owners, designers, web developers and producers. I ask lots of questions and regularly present demos to clients and key stakeholders.
        </dd>
      </div>
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">User focused</span>
        </dt>
        <dd class="inline">My communications experience has given me a passion for perfecting user experience, and championing inclusive design.</dd>
      </div>
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">Process driven</span>
        </dt>
        <dd class="inline">
          Whilst learning to code at Makers I rediscovered my love for a good diagram. You can find <a class="link" href="https://github.com/lookupdaily/chitter-challenge">some examples of my approach</a> to developing solutions in my READMEs. I prefer to develop using TDD.
        </dd>
      </div>
      <div class="list__item">
        <dt class="inline color-primary font-weight-bold">
          <span class="arrow-after">Rapid learner</span>
        </dt>
        <dd class="inline">
          I have picked up the skills to learn new languages and technologies quickly. At Cognizant I have learnt Angular, .NET and Ionic for projects, and I have picked up new tooling regularly throughout my marketing career and architecture education.
        </dd>
      </div>
      <div class="list__item">
      <dt class="inline color-primary font-weight-bold">
        <span class="arrow-after">
          Creative
        </span>
      </dt>
      <dd class="inline">
        I have a keen eye for design thanks to my background in architecture and design. I keep an open conversation with our UX teams to ensure consistent and usable design across our apps.
      </dd>
    </dl>
  </section>
  <section class="border-top--secondary">
    <h2>Project experience</h2>
    <h3 class="margin-bottom-0">Cognizant - Associate</h3>
    <p class="margin-top-0">September 2020-present</p>
    <h4 class="color-primary">Intelligent Infrastructure / Full-stack developer</h4>
    <p>Supporting the national roll-out of several key products for Network Rail as part of the <a class="link" href="https://www.networkrail.co.uk/running-the-railway/intelligent-infrastructure/" target="blank">Intelligent Infrastructure</a> programme—a five-year transformation programme focused on providing maintenance teams the insight they need to predict and prevent faults before they cause delays.</p>
    <ul class="arrow-list padding-left-sm">
      <li>Deliver new product features in a small scrum team through the creation of fully tested UI components and APIs.</li>
      <li>Provide support for UAT testing phase and Early Life Support period by providing bug fixes.</li>
      <li>Present regular live demonstrations of new features to client and key stakeholders.</li>
    </ul>

    <h4 class="color-primary">Sharepoint migration / Frontend developer</h4>
    <ul class="arrow-list padding-left-sm">
      <li>Part of a team to migrate and rebuild an existing staff Intranet built on a classic SharePoint Online to modern experience SharePoint Online in Office 365.</li>
      <li>Developed responsive React components using Microsoft's Fluent UI framework.</li>
    </ul>
  </section>
  <section class="border-top--secondary">
    <h2>Previous Experience</h2>
    <div class="item">
      <h3 class="margin-bottom-0">Waltham Forest Council - Project Lead, Communications Officer</h3>
      <p class="margin-top-0">November 2017-December 2019 (with a travel break)</p>
      <p>Oversaw the launch of an online culture hub for the London Borough of Waltham Forest. Managed digital content and promotion before and during Waltham Forest's year as the first <a class="link" href="https://www.london.gov.uk/what-we-do/arts-and-culture/current-culture-projects/london-borough-culture" target="blank">London Borough of Culture</a> in 2019.</p>
    </div>

    <div class="item">
      <h3 class="margin-bottom-0">New Designers - Marketing Manager</h3>
      <p class="margin-top-0">May-July 2019</p>
      <p>Stepped in to deliver the final stages of the marketing campaign for <a class="link" href="https://www.newdesigners.com/" target="blank">New Designers</a> 2019 - the UK's #1 graduate design exhibition.</p>
    </div>

    <div class="item">
      <h3 class="margin-bottom-0">Media 10 - Marketing Manager</h3>
      <p class="margin-top-0">February 2013-October 2017 (Marketing Manager from 2016)</p>
      <p>Produced tailored, data-driven campaigns for renowned trade events including <a class="link" href="https://www.clerkenwelldesignweek.com/" target="blank">Clerkenwell Design Week</a>, <a class="link" href="https://www.designlondon.co.uk/welcome" target="blank">100% Design</a> and <a class="link" href="https://www.designshanghai.com/" target="blank">Design Shanghai</a>. Worked with external and internal web development teams to manage new and existing websites for our growing portfolio, across a variety of web content management systems.</p>
    </div>

    <div class="item">
      <h3 class="margin-bottom-0">KGD Architecture - Architectural Assistant</h3>
      <p class="margin-top-0">March - September 2012. Bangalore, India</p>
      <p>Responsible for concepts, 3D modelling and pitching documents.</p>
    </div>
  </section>
  
  
  <section class="border-top--secondary">
    <h2>Education</h2>
    <div class="item">
      <h3 class="margin-bottom-0">Makers Academy</h3>
      <p class="margin-top-0">January-April 2020</p>
      <p>A 12-week intensive software development course focusing on object oriented design, agile working methodologies, test driven development and language agnostic learning.</p>
    </div>

    <div class="item">
      <h3 class="margin-bottom-0">University of Manchester</h3>
      <p class="margin-top-0">September 2008- June 2011</p>
      <p>BA (Hons) Architecture 2:1</p>
    </div>
  </section>
</div>