---
layout: layout.njk
pageType: home
title: Liz Daly
metaTitle: Liz Daly
description: Liz Daly is a front-end web developer interested in usability and inclusive design.
changefreq: monthly
priority: "1.0"
---

<div class="hero">   
  <header class="home__header">
    <h1 class="title">{{ title }}</h1>
    <p class="home__subtitle">web developer.</p> 
  </header>
  <div>
  <p class="font-large">A <a href="https://makers.tech/" target="blank">Maker</a> and frontend developer with a background in marketing & communications for arts and design events. I have an interest in usability and accessibility, and am currently building transformative software with <a href="https://www.cognizant.com/us/en/services/digital-experience" target="blank">Cognizant</a> for Network Rail's <a href="https://www.networkrail.co.uk/running-the-railway/intelligent-infrastructure/" target="blank">Intelligent Infrastructure</a> project.</p> 

  <span class="font-large link"><a href="/CV">My CV</a><span class="material-icons">arrow_forward_ios</span></span>
  </div>
  
</div>
