@use "pkg:@lookupdaily/styles/sass" as ld;

.ld-logo {
  svg {
    width: 2.5rem;
    height: auto;
    margin-bottom: -0.625rem;
  }
}

/* Home page styles */

.content.home {
  @include ld.padding-top();
}

.home__header {
  @include ld.margin-bottom("x-large");
}

/* CV Page styles */

.cv__content {
  p { 
    @include ld.margin-top("none");
  }

  ul {
    @include ld.margin-bottom("x-large");
  }

  h3 {
    @include ld.margin-top("x-large");
  }
}
