---
layout: layout.njk
metaTitle: About Liz Daly
title: Hello.
pageType: about
description: I'm Liz, a web developer based in London. I have recently taught myself to code and like to spend my time perfecting user experience and accessibility.
---
<p>
  My background is in the creative industry, as a marketeer for arts and design events. 
  Increasingly, our events were reliant on our digital platforms, which is where I was able to hone my interest in web development.
</p>

<p>
  I have worked with brilliant web development teams to create and refine event websites such as <a href="https://www.clerkenwelldesignweek.com/" class="ld-link">Clerkenwell Design Week</a>, 100% Design and <a href="https://www.designshanghai.com/" class="ld-link">Design Shanghai</a>—working across a range of content management systems. 
  Now I am using some of my previous experience to build engaging, user friendly products myself.
</p>

<h2>Work</h2>

<p>
  After completing a software engineering course at Makers Academy, I spent some time working as a frontend developer at <a href="https://www.cognizant.com/us/en/services/digital-experience" class="ld-link">Cognizant</a>. 
  Here, I contributed to Network Rail's transformative <a href="https://www.networkrail.co.uk/running-the-railway/intelligent-infrastructure/" class="ld-link">Intelligent Infrastructure</a> 
  programme, which is using data to help railway maintenance become proactive rather than reactive. 
  I am now working at <a href="https://www.dxw.com/" class="ld-link">dxw</a>, a digital agency creating public services that improve lives.
</p>

<p>
  I have been building server-rendered web applications, as well as web components in Angular and React—and love writing HTML, CSS, JavaScript and TypeScript. 
  I am an active champion for prioritising accessibility and usability in our solutions.
</p>

<h2>Outside work</h2>

<p>
  When I'm not coding you can find me outside, with my hiking boots on or <a href="https://instagram.com/lookupdaily" class="ld-link">looking up</a> at a great building.
</p>
