---
layout: layout.njk
metaTitle: Liz Daly's CV
title: Liz Daly
pageType: cv
description:  User focused web developer with a background in marketing for the arts and culture sector. I am interested in usability and accessibility and have strong experience in helping shape user requirements.
---

<div>
  <section class="ld-border-top--secondary">
    <h2>Tech skills</h2>
    <p>I am a quick learner of languages and frameworks. I believe that simple, well-documented and maintainable code is more important than language specialism.</p>
    <dl class="ld-descriptive-list">
      <dt>JavaScript</dt>
      <dd>
        ES6, TypeScript, Angular, React, Jest, Jasmine, Testing Library, Playwright
      </dd>

      <dt>CSS</dt>
      <dd>SCSS (Sass), CSS3, Bootstrap, Responsive designs</dd>

      <dt>HTML</dt>
      <dd>Semantic mark-up, accessibility following WAI-Aria Standards</dd>

      <dt>C#</dt>
      <dd>ASP.NET Core, LINQ, Entity Framework Core, XUnit, Nunit, Fluent Assertions</dd>

      <dt>Ruby</dt>
      <dd>Ruby on Rails, Sinatra, RSpec, Capybara</dd>

      <dt>Other</dt>
      <dd>Git, Azure, Docker, Xcode, Swagger, SQL Server, Travis CI, CircleCI,
      pair programming, test driven development, peer reviews</dd>
    </dl>
  </section>

  <section class="ld-border-top--secondary">
    <h2>Other skills</h2>
 
    <dl class="ld-descriptive-list">
        <dt>Collaborator</dt>
      <dd>
        I am at my happiest working on projects that require cross-team collaboration, particularly with user researchers, designers, product owners, web developers and business analysts. 
        I ask lots of questions and regularly present demos to clients and key stakeholders.
      </dd>

      <dt>User focused</dt>
      <dd>My communications experience has given me a passion for perfecting user experience, and championing inclusive design.</dd>
      
      <dt>Process driven</dt>
      <dd>
        Whilst learning to code at Makers I rediscovered my love for a good diagram. You can find 
        <a class="ld-link" href="https://github.com/lookupdaily/chitter-challenge">some examples of my approach</a> 
        to developing solutions in my READMEs. I prefer to develop using TDD.
      </dd>

      <dt>Rapid learner</dt>
      <dd>
        I have picked up the skills to learn new languages and technologies quickly. At Cognizant I have learnt Angular, .NET and Ionic for projects, and I have picked up new tooling regularly throughout my marketing career and architecture education. At dxw, I have honed my testing practices using Playwright, mutation testing and axe-core to improve my tests.
      </dd>
        
      <dt>Creative</dt>
      <dd>
        I have a keen eye for design thanks to my background in architecture and design. I keep an open conversation with our UX teams to ensure consistent and usable design across our apps.
      </dd>
    </dl>
  </section>
  <section class="ld-border-top--secondary">
    <h2>Project experience</h2>

    <div class="experience-item">
      <h3 class="experience-item__title">dxw - Developer</h3>
      <p class="experience-item__dates">January 2023-present</p>
      <p>Building public services that improve lives.</p>
      <ul class="ld-list">
        <li>I develop server rendered applications in line with
          <a class="ld-link" href="https://playbook.dxw.com/tech/development-and-technical-operations-team-principles/">dxw's technology principles</a>
          which implement the GOV.UK design system and prioritise user needs, accessibility and maintainability.</li>
        <li>Delivering a new Application Programming Interface (API) to enable easier access to and analysis of
          <a class="ld-link" href="https://pds.blog.parliament.uk/2024/11/27/working-towards-a-fully-searchable-register-of-members-financial-interests/">UK Parliament's Members' Register of Financial Interests</a>,
          as well as improved access for members of the public via the Parliament website.</li>
        <li>Launched the private beta of new internal product
          <a class="ld-link" href="https://github.com/DFE-Digital/find-information-about-academies-and-trusts">Find information about academies and trusts</a>
          for the Department of Education, which helped relieve the team reliance on legacy technology. The project achieved one of the highest System Usability Scores (SUS) of products in the directorate, received glowing feedback in an early accessibility audit and has since gone into public beta.</li>
        <li>Helped build and write content for dxw's first iteration of our
          <a class="ld-link" href="https://accessibility.dxw.com/">accessibility manual</a>.
        </li>
      </ul>
    </div>

    <div class="experience-item">
      <h3 class="experience-item__title">Cognizant - Associate</h3>
      <p class="experience-item__dates">September 2020-December 2023</p>
      <h4>Intelligent Infrastructure / Full-stack developer</h4>
      <p>Supporting the national roll-out of several key products for Network Rail as part of the
        <a class="ld-link" href="https://www.networkrail.co.uk/running-the-railway/intelligent-infrastructure/">Intelligent Infrastructure</a>
        programme—a five-year transformation programme focused on providing maintenance teams the insight they need to predict and prevent faults before they cause delays.</p>
      <ul class="ld-list">
        <li>Deliver new product features in a small scrum team through the creation of fully tested UI components and APIs.</li>
        <li>Provide support for UAT testing phase and Early Life Support period by providing bug fixes.</li>
        <li>Present regular live demonstrations of new features to client and key stakeholders.</li>
      </ul>
      <h4>Sharepoint migration / Frontend developer</h4>
      <ul class="ld-list">
        <li>Part of a team to migrate and rebuild an existing staff Intranet built on a classic SharePoint Online to modern experience SharePoint Online in Office 365.</li>
        <li>Developed responsive React components using Microsoft's Fluent UI framework.</li>
      </ul>
    </div>
  </section>
  <section class="ld-border-top--secondary">
    <h2>Previous Experience</h2>

    <div class="experience-item">
      <h3 class="experience-item__title">Waltham Forest Council - Project Lead, Communications Officer</h3>
      <p class="experience-item__dates">November 2017-December 2019 (with a travel break)</p>
      <p class="experience-item__description">
        Oversaw the launch of an online culture hub for the London Borough of Waltham Forest. Managed digital content and promotion before and during Waltham Forest's year as the first <a class="ld-link" href="https://www.london.gov.uk/programmes-strategies/arts-and-culture/current-culture-projects/london-borough-culture">London Borough of Culture</a> in 2019.</p>
    </div>

    <div class="experience-item">
      <h3 class="experience-item__title">New Designers - Marketing Manager</h3>
      <p class="experience-item__dates">May-July 2019</p>
      <p>Stepped in to deliver the final stages of the marketing campaign for 
        <a class="ld-link" href="https://www.newdesigners.com/">New Designers</a>
        2019 - the UK's #1 graduate design exhibition.</p>
    </div>

    <div class="experience-item">
      <h3 class="experience-item__title">Media 10 - Marketing Manager</h3>
      <p class="experience-item__dates">February 2013-October 2017 (Marketing Manager from 2016)</p>
      <p>
        Produced tailored, data-driven campaigns for renowned trade events including <a class="ld-link" href="https://www.clerkenwelldesignweek.com/">Clerkenwell Design Week</a>, 100% Design, <a class="ld-link" href="https://www.designshanghai.com/">Design Shanghai</a>.
        Worked with external and internal web development teams to manage new and existing websites for our growing portfolio, across a variety of web content management systems.</p>
    </div>

    <div class="experience-item">
      <h3 class="experience-item__title">KGD Architecture - Architectural Assistant</h3>
      <p class="experience-item__dates">March - September 2012. Bangalore, India</p>
      <p>Responsible for concepts, 3D modelling and pitching documents.</p>
    </div>
  </section>
  
  
  <section class="ld-border-top--secondary">
    <h2>Education</h2>
    <div class="experience-item">
      <h3 class="experience-item__title">Makers Academy</h3>
      <p class="experience-item__dates">January-April 2020</p>
      <p>A 12-week intensive software development course focusing on object oriented design, agile working methodologies, test driven development and language agnostic learning.</p>
    </div>

    <div class="experience-item">
      <h3 class="experience-item__title">University of Manchester</h3>
      <p class="experience-item__dates">September 2008- June 2011</p>
      <p>BA (Hons) Architecture 2:1</p>
    </div>
  </section>
</div>
