{% from "./templates/link.njk" import link %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metaTitle }}{% if metaTitle == blank %}{{ title }}{% endif %}</title>
    <meta name="description" content="{{ description | safe }}">
    <meta name="author" content="Liz Daly">
    <meta name="generator" content="Eleventy">
    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:wght@500&family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    {% set css %}{% include "styles.css" %}{% endset %}<style>{{ css | safe }}</style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header class="header {% if pageType == 'home' %}home{% endif %}">
        <div class="visually-hidden"><a href="#content">Skip Content</a></div>
          <div class="header-content">
            <div class="color-primary font-large logo">{% if pageType !== "home" %}<a href="/" class="logo__link">{% endif %}LD{% if pageType !== "home" %}</a>{% endif %}</div>
              <span hidden id="menu-label">Main menu</span>
              <button id="menu-button" aria-expanded="false"><span id="button-text" class="material-icons">menu</span></button>
              <nav class="nav" id="menu" aria-labelledy="menu-label">
                <ul class="nav__list">
                  <li class="nav__list__item"><a class="link nav__link" href="/" {% if pageType == "home" %}data-state="active"{% endif %}><span class="nav__link__text">Home</span></a></li>
                  <li class="nav__list__item"><a class="link nav__link" href="/about/" {% if pageType == "about" %}data-state="active"{% endif %}><span class="nav__link__text">About</span></a></li>
                  {# <li><a href="/projects/" {% if category == "Projects" %}data-state="active"{% endif %}><span class="nav__link__text">Projects</span></a></li> #}
                  <li class="nav__list__item"><a class="link nav__link" href="https://github.com/lookupdaily" target="blank"><span class="nav__link__text">Github</span></a></li>
                  <li class="nav__list__item"><a class="link nav__link" href="/CV" {% if pageType == "cv" %}data-state="active"{% endif %}><span class="nav__link__text">CV</span></a></li>
                </ul>
              </nav>
            </div>
        </header>
        <div class="scroll-wrapper">
        <main class="content {% if pageType == 'home' %}home{% endif %}" id="content">
          {% if pageType !== 'home' %}
            <div>
              <h1 class="title color-primary">{{ title }}</h1> 
              <p class="font-large">{{ description | safe }}</p>
            </div>
          {% endif %}
          <div class="{% if pageType == 'cv' %}cv__content{% endif %}">
            {{ content | safe }}
          <div>
        </main>
        <footer class="footer {% if pageType == 'home' %}home{% endif %}">
          <div class="footer__content">
          <p class="social-links"><span>Find me at @lookupdaily on </span>
            <span class="social-links__item">
              {{ link( "Github", "https://github.com/lookupdaily", "link--hover-secondary") }}, 
            </span>
            <span class="social-links__item">
              {{ link("Linkedin", "https://www.linkedin.com/in/lookupdaily", "link--hover-secondary")}}, 
            </span>
            <span class="social-links__item">
              {{ link("Instagram", "https://instagram.com/lookupdaily", "link--hover-secondary")}}.
            </span>
          </p>
          <p class="credit">
            Made with 
            {{ link("Eleventy", "https://www.11ty.dev/", "link--hover-secondary")}}, 
            &copy;Liz Daly 2022
          </p>
        </div>  
      </footer>
      </div>
    </div>
  </body>
  {% set js %}{% include "js/menu.js" %}{% endset %}<script>{{ js | safe }}</script>
</html>