---
layout: layout.njk
pageType: home
title: Liz Daly
metaTitle: Liz Daly - web developer
description: Liz Daly is a front-end web developer interested in usability and inclusive design.

---

<div class="hero">   
  <header class="home__header">
    <h1 class="title">{{ title }}</h1>
    <p class="home__subtitle">web developer.</p> 
  </header>
  <div>
  <p class="font-large">A <a class="link" href="https://makers.tech/" target="blank">Maker</a> and frontend developer with a background in marketing & communications for arts and design events. I have an interest in usability and accessibility, and am currently building public services that change lives at  <a class="link" href="https://www.dxw.com/" target="blank">dxw</a>.</p>

  <span class="font-large link arrow"><a href="/CV">My CV</a><span class="material-icons">arrow_forward_ios</span></span>
  </div>
  
</div>
