{% from "./templates/link.njk" import link %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metaTitle }}{% if metaTitle == blank %}{{ title }}{% endif %}</title>
    <meta name="description" content="{{ description | safe }}">
    <meta name="author" content="Liz Daly">
    <meta name="generator" content="Eleventy">
    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header {% if pageType == 'home' %}home{% endif %}">
        <div class="visually-hidden"><a href="#content">Skip Content</a></div>
          <div class="header-content">
            <div class="ld-logo">{% if pageType !== "home" %}<a href="/" class="ld-logo__link">{% endif %}LD{% if pageType !== "home" %}</a>{% endif %}</div>
              {% include "./templates/menu.njk" %}
            </div>
        </header>
        <div class="scroll-wrapper">
        <main class="content {% if pageType == 'home' %}home{% endif %}" id="content">
          {% if pageType !== 'home' %}
            <div>
              <h1 class="title">{{ title }}</h1> 
              <p class="ld-text-subtitle">{{ description | safe }}</p>
            </div>
          {% endif %}
          <div class="{% if pageType == 'cv' %}cv__content{% endif %}">
            {{ content | safe }}
          <div>
        </main>
        <footer class="ld-footer {% if pageType == 'home' %}home{% endif %}">
          <div class="ld-footer__content">
          <p class="ld-social-links"><span>Find me at @lookupdaily on </span>
            <span class="ld-social-links__item">
              {{ link( "GitHub", "https://github.com/lookupdaily", "link--hover-secondary") }}, 
            </span>
            <span class="ld-social-links__item">
              {{ link("Linkedin", "https://www.linkedin.com/in/lookupdaily", "link--hover-secondary")}}, 
            </span>
            <span class="ld-social-links__item">
              {{ link("Instagram", "https://instagram.com/lookupdaily", "link--hover-secondary")}}.
            </span>
          </p>
          <p class="ld-footer__credit">
            Made with 
            {{ link("Eleventy", "https://www.11ty.dev/", "link--hover-secondary")}}, 
            &copy;Liz Daly 2022
          </p>
        </div>  
      </footer>
      </div>
    </div>
  </body>
  {% set js %}{% include "js/menu.js" %}{% endset %}<script>{{ js | safe }}</script>
</html>
