{% from "./templates/link.njk" import link %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metaTitle }}{% if metaTitle == blank %}{{ title }}{% endif %}</title>
    <meta name="description" content="{{ description | safe }}">
    <meta name="author" content="Liz Daly">
    <meta name="generator" content="Eleventy">
    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="wrapper">
      {% include "./templates/header.njk" %}

      <main class="content {% if pageType == 'home' %}home{% endif %}" id="content">
        {% if pageType !== 'home' %}
          <div>
            <h1 class="title">{{ title }}</h1> 
            <p class="ld-text-subtitle">{{ description | safe }}</p>
          </div>
        {% endif %}
        <div class="{% if pageType == 'cv' %}cv__content{% endif %}">
          {{ content | safe }}
        <div>
      </main>

      {% include "./templates/footer.njk" %}
    </div>
  </body>
  <script type="module" src="/main.js"></script>
</html>
