<footer class="ld-footer {% if pageType == 'home' %}home{% endif %}">
  <div class="ld-footer__content">
    <p class="ld-social-links">
      <span>Find me at @lookupdaily on </span>
      <span class="ld-social-links__item">
         <a class="ld-link ld-link--hover-secondary" href="https://github.com/lookupdaily">GitHub</a>, 
      </span>
      <span class="ld-social-links__item">
        <a class="ld-link ld-link--hover-secondary" href="https://www.linkedin.com/in/lookupdaily">Linkedin</a>, 
      </span>
      <span class="ld-social-links__item">
        <a class="ld-link ld-link--hover-secondary" href="https://instagram.com/lookupdaily">Instagram</a>.
      </span>
    </p>
    <p class="ld-footer__credit">
      Made with 
      <a class="ld-link ld-link--hover-secondary" href="https://www.11ty.dev/">Eleventy</a>, 
      &copy;Liz Daly 2022
    </p>
  </div>  
</footer>
