<footer class="ld-footer {% if pageType == 'home' %}home{% endif %}">
  <div class="ld-footer__content">
    <p class="ld-footer__item">
      Find me at @lookupdaily on <a class="ld-link ld-link--hover-secondary" href="https://github.com/lookupdaily">GitHub</a>, 
      <a class="ld-link ld-link--hover-secondary" href="https://www.linkedin.com/in/lookupdaily">Linkedin</a>, 
      <a class="ld-link ld-link--hover-secondary" href="https://instagram.com/lookupdaily">Instagram</a>.
    </p>
    <p class="ld-footer__item">
      Made with <a class="ld-link ld-link--hover-secondary" href="https://www.11ty.dev/">Eleventy</a>, &copy;Liz Daly 2025.
    </p>
  </div>
</footer>
