<footer class="ld-footer {% if pageType == 'home' %}home{% endif %}">
  <div class="ld-footer__content">
    <p class="ld-social-links">
      <span>Find me at @lookupdaily on </span>
      <span class="ld-social-links__item">
        {{ link( "GitHub", "https://github.com/lookupdaily", "ld-link--hover-secondary") }}, 
      </span>
      <span class="ld-social-links__item">
        {{ link("Linkedin", "https://www.linkedin.com/in/lookupdaily", "ld-link--hover-secondary")}}, 
      </span>
      <span class="ld-social-links__item">
        {{ link("Instagram", "https://instagram.com/lookupdaily", "ld-link--hover-secondary")}}.
      </span>
    </p>
    <p class="ld-footer__credit">
      Made with 
      {{ link("Eleventy", "https://www.11ty.dev/", "ld-link--hover-secondary")}}, 
      &copy;Liz Daly 2022
    </p>
  </div>  
</footer>
