<span hidden id="menu-label">Main menu</span>
<button class="ld-header__menu-button" id="ld-menu-button" aria-controls="ld-menu" aria-expanded="false" aria-haspopup="true"><span class="ld-header__menu-button-text">Menu</span></button>
<nav class="ld-header-nav" id="ld-menu" aria-labelledby="menu-label">
  <ul class="ld-header-nav__list">
    <li class="ld-header-nav__item">
      <a class="ld-link ld-header-nav__link" href="/" {% if pageType == "home" %}data-state="active"{% endif %}><span class="nav__link__text">Home</span></a>
      </li>
    <li class="ld-header-nav__item">
      <a class="ld-link ld-header-nav__link" href="/about/" {% if pageType == "about" %}data-state="active"{% endif %}><span class="nav__link__text">About</span></a>
    </li>
    {# <li><a href="/projects/" {% if category == "Projects" %}data-state="active"{% endif %}><span class="nav__link__text">Projects</span></a></li> #}
    <li class="ld-header-nav__item">
      <a class="ld-link ld-header-nav__link" href="/cv" {% if pageType == "cv" %}data-state="active"{% endif %}><span class="nav__link__text">CV</span></a>
    </li>
    <li class="ld-header-nav__item">
      <a class="ld-link ld-header-nav__link" href="https://github.com/lookupdaily">GitHub</a>
    </li>
  </ul>
</nav>
