{% from "./link.njk" import link %}

<span hidden id="menu-label">Main menu</span>
<button class="ld-header__menu-button" id="menu-button" aria-expanded="false"><span class="ld-header__menu-button-text">Menu</span></button>
<nav class="ld-header-nav" id="menu" aria-labelledy="menu-label">
  <ul class="ld-header-nav__list">
    <li class="ld-header-nav__item">
      <a class="link ld-header-nav__link" href="/" {% if pageType == "home" %}data-state="active"{% endif %}><span class="nav__link__text">Home</span></a>
      </li>
    <li class="ld-header-nav__item">
      <a class="link ld-header-nav__link" href="/about/" {% if pageType == "about" %}data-state="active"{% endif %}><span class="nav__link__text">About</span></a>
    </li>
    {# <li><a href="/projects/" {% if category == "Projects" %}data-state="active"{% endif %}><span class="nav__link__text">Projects</span></a></li> #}
    <li class="ld-header-nav__item">
      <a class="link ld-header-nav__link" href="/CV" {% if pageType == "cv" %}data-state="active"{% endif %}><span class="nav__link__text">CV</span></a>
    </li>
    <li class="ld-header-nav__item">
      {{ link("GitHub", "https://github.com/lookupdaily", "ld-header-nav__link")}}
    </li>
  </ul>
</nav>
